version: '3'
 
services:
   node:
     build:
        context: ./node
     environment:
        PORT: "${NODE_PORT:-8080}"
        DEBUG: "express:*,socket.io:*,myapp:*"
        DEBUG_DEPTH: "4"
        DEBUG_COLORS: "true"
        DEBUG_HIDE_DATE: "true"
     ports:
       - "${NODE_PORT:-8080}:8080"
     volumes:
       - "./workspace:/app"
     tty: true
